:root {
    --col1-size: 1fr;
    --col2-size: 1fr;
    --col3-size: 1fr;
    --col4-size: 1fr;
    --col5-size: 1fr;
    --col6-size: 1fr;
    --col7-size: 1fr;
    --col8-size: 1fr;
    --col9-size: 1fr;
    --col10-size: 1fr;
    --row1-size: 1fr;
    --row2-size: 1fr;
    --row3-size: 1fr;
    --row4-size: 1fr;
    --row5-size: 1fr;
    --gap: 0.15rem;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    background-color: #000;
    overflow: hidden;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Standard */
}

.container {
    display: grid;
    gap: var(--gap);
    height: calc(100vh - (var(--gap) * 2));
    width: calc(100vw - (var(--gap) * 2));  
    margin: var(--gap);
    opacity: 1;
    transition: grid-template-columns 0.5s ease, grid-template-rows 0.5s ease, opacity 0.3s ease;
    
    grid-template-columns: 
        var(--col1-size) 
        var(--col2-size) 
        var(--col3-size) 
        var(--col4-size) 
        var(--col5-size) 
        var(--col6-size) 
        var(--col7-size) 
        var(--col8-size) 
        var(--col9-size) 
        var(--col10-size);
        
    grid-template-rows: 
        var(--row1-size) 
        var(--row2-size) 
        var(--row3-size) 
        var(--row4-size) 
        var(--row5-size);
}

.symbol-button, .empty-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    border-radius: var(--gap);
    color: #BBB;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    background-color: #111;
    transition: font-size 0.3s ease, background-color 0.3s ease, opacity 0.3s ease-in-out;
    position: relative;
}

.symbol-button:hover, .empty-div:hover, .github-link:hover {
    font-size: 5rem;
    color: #FFF;
    background-color: #222;
}

.symbol-button.active {
    opacity: 0.5;
}

.empty-div span {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.empty-div.fade-out span {
    opacity: 0;
}

/* Feedback Effect for Buttons */
.symbol-button.active-feedback {
    animation: click-feedback 0.3s forwards;
}

@keyframes click-feedback {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

/* Feedback Effect for Symbols */
.empty-div.div-active-feedback {
    animation: div-click-feedback 0.3s forwards;
}

@keyframes div-click-feedback {
    0% {
    }
    50% {
        font-size: 4rem;
        border-radius: calc(var(--gap) * 10);
    }
    100% {
    }
}

/* Rainbow Gradient Animation */
.empty-div:hover span {
    animation: rainbow 10s linear infinite;
}

@keyframes rainbow {
    0% { color: cyan; }
    25% { color: magenta; }
    50% { color: red; }
    75% { color: yellow; }
    100% { color: cyan; }
}

/* Styles for Bymbols and Copied texts */
.symbol-button[data-symbols=""] .bymbols-text,
.symbol-button[data-symbols=""] .copied-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.symbol-button[data-symbols=""] .bymbols-text {
    opacity: 1;
}

.symbol-button[data-symbols=""] .copied-text {
    opacity: 0;
}

.github-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--gap);
    transition: border-radius 0.3s ease;
    animation: bg-rainbow 10s linear infinite;
}

.github-link:active {
    animation: bg-rainbow 10s linear infinite, click-feedback 0.3s forwards;
}

/* Rainbow Background Gradient Animation */
@keyframes bg-rainbow {
    0% { background-color: red; }
    25% { background-color: yellow; }
    50% { background-color: cyan; }
    75% { background-color: magenta; }
    100% { background-color: red; }
}

.github-link img {
    filter: invert(93%);
    width: 1.8rem;
    height: auto;
    transition: width 0.3s ease-in-out;
    animation: github-rotate 10s linear infinite;
}

@keyframes github-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh - (var(--gap) * 2));
    width: calc(100vw - (var(--gap) * 2));  
    margin: var(--gap);
    border-radius: var(--gap);
    font-size: 0.75rem;
    background: none;
    color: #BBB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    z-index: -1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#mobile-overlay img {
    filter: invert(0%);
    position: fixed;
    top: 75%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    animation: github-rotate 10s linear infinite;
}

.unavailable {
    animation: rainbow 10s linear infinite;
}

@media only screen and (max-width: 767px) {
    .container {
        opacity: 0;
    }
    #mobile-overlay {
        z-index: 1000;
        opacity: 1;
    }
}
